# Ignore everything in this directory
tmp/*

# Dependency directories
.git/
node_modules/

# punya orang
plugins/_allbutton.zip

# ntar aja bang bagi-bagi pluginnya :v
lib/scraperpro.js
plugins/_detectgempa.js
plugins/_openai.js
plugins/_openaipc.js
plugins/ai-beautyplus.js
plugins/ai-enhance.js
plugins/ai-filter.js
plugins/ai-jadianime.js
plugins/ai-nsfwcheck.js
plugins/ai-openai.js
plugins/ai-openaidalle.js
plugins/ai-txt2img.js
plugins/anime-anime.js
plugins/anime-chara.js
plugins/anime-kitsu.js
plugins/anime-komiku.js
plugins/anime-kusonime.js
plugins/anime-manga.js
plugins/anime-mangatoons.js
plugins/anime-mynimeku.js
plugins/anime-noveltoon.js
plugins/anime-otakudesu.js
plugins/anime-ran-lolapi.js
plugins/anime-ran-scrape.js
plugins/anime-ran-waifuim.js
plugins/anime-ran-waifupics.js
plugins/anime-saucenao.js
plugins/anime-wait.js
plugins/anime-webtoon.js
plugins/creator-ktpmaker.js
plugins/creator-pasfoto.js
plugins/creator-qc.js
plugins/download-fb.js
plugins/download-ig.js
plugins/download-joox.js
plugins/download-mediafire.js
plugins/download-pinterest.js
plugins/download-pinterestimage.js
plugins/download-pinterestvideo.js
plugins/download-soundcloud.js
plugins/download-subscene.js
plugins/download-tiktok.js
plugins/download-tiktokaudio.js
plugins/download-tiktokwm.js
plugins/download-twitter.js
plugins/editor-1.js
plugins/editor-2.js
plugins/editor-3.js
plugins/editor-passed.js
plugins/entertain-1cak.js
plugins/entertain-audiotext.js
plugins/entertain-asupan.js
plugins/entertain-avatar.js
plugins/entertain-changemymind.js
plugins/entertain-darkmeme.js
plugins/entertain-menfess.js
plugins/entertain-menfess_ans.js
plugins/entertain-menfesschat_ans.js
plugins/entertain-menfesschat_timer.js
plugins/entertain-openai.js
plugins/entertain-randomanimal.js
plugins/entertain-randomanimal2.js
plugins/entertain-ransfw.js
plugins/entertain-spamcall.js
plugins/entertain-stalk.js
plugins/entertain-zodiak.js
plugins/ephoto-1.js
plugins/ephoto-2.js
plugins/game-sambungkata.js
plugins/game-sambungkata_ans.js
plugins/game-tebakchara.js
plugins/game-tebakchara_ans.js
plugins/game-tebakkabupaten.js
plugins/game-tebakkabupaten_ans.js
plugins/game-tebakkimia.js
plugins/game-tebakkimia_ans.js
plugins/game-tebaklagu.js
plugins/game-tebaklagu_ans.js
plugins/game-tekateki.js
plugins/game-tekateki_ans.js
plugins/gi-arte.js
plugins/gi-chara.js
plugins/gi-constellation.js
plugins/gi-domain.js
plugins/gi-element.js
plugins/gi-enemy.js
plugins/gi-material.js
plugins/gi-talent.js
plugins/gi-weapon.js
plugins/group-listspam.js
plugins/group-muteall.js
plugins/info-beasiswa.js
plugins/info-cekusia.js
plugins/info-chord.js
plugins/info-createbarcode.js
plugins/info-createqr.js
plugins/info-cuaca.js
plugins/info-gsmarena.js
plugins/info-hero.js
plugins/info-heroml.js
plugins/info-jadwalbola.js
plugins/info-jadwaltv.js
plugins/info-kanji.js
plugins/info-kodearea.js
plugins/info-kodepos.js
plugins/info-lirik.js
plugins/info-mlstalk.js
plugins/info-nik.js
plugins/info-readbarcode.js
plugins/info-readqr.js
plugins/info-searchplace.js
plugins/info-ssweb.js
plugins/info-translate.js
plugins/info-urbandictionary.js
plugins/info-whatmusic.js
plugins/info-wikipedia.js
plugins/kerang-apakah.js
plugins/kerang-bagaimanakah.js
plugins/kerang-kapankah.js
plugins/menuai.js
plugins/menustore.js
plugins/nsfw-cersex.js
plugins/nsfw-cosplay.js
plugins/nsfw-doujindesu.js
plugins/nsfw-nekopoi.js
plugins/nsfw-nhentai.js
plugins/nsfw-nhentaipdf.js
plugins/nsfw-phub.js
plugins/nsfw-pornhub.js
plugins/nsfw-ran-hmfull.js
plugins/nsfw-ran-lolapi.js
plugins/nsfw-ran-scathach.js
plugins/nsfw-ran-tiktokporn.js
plugins/nsfw-ran-vhentai.js
plugins/nsfw-ran-waifuim.js
plugins/nsfw-ran-waifupics.js
plugins/nsfw-xhamster.js
plugins/nsfw-xnxx.js
plugins/owner-broadcastptvgc.js
plugins/oxy-2.js
plugins/primbon-jodoh.js
plugins/primbon-nama.js
plugins/primbon-tebakumur.js
plugins/random-cerpen.js
plugins/random-fakta.js
plugins/random-people.js
plugins/random-quotenime.js
plugins/search-apk.js
plugins/search-bing.js
plugins/search-danbooru.js
plugins/search-gimage.js
plugins/search-google.js
plugins/search-happymod.js
plugins/search-konachan.js
plugins/search-mirror.js
plugins/search-pinterest.js
plugins/search-pixiv.js
plugins/search-stikerbetabotz.js
plugins/search-stikerline.js
plugins/search-stikertele.js
plugins/search-stikerwa.js
plugins/search-wallhaven.js
plugins/search-wallpaper.js
plugins/search-wattpad.js
plugins/search-wikimedia.js
plugins/store-cekstatus.js
plugins/store-done.js
plugins/store-list.js
plugins/store-listadd.js
plugins/store-listdelete.js
plugins/store-listpesanan.js
plugins/store-listupdate.js
plugins/store-proses.js
plugins/textpro-1.js
plugins/textpro-2.js
plugins/tool-dashboard.js
plugins/tool-ptv.js
plugins/tool-ringtone.js

# data-single-auth
session.data.json
database.json
package-lock.json

#data-multi-auth
eng.traineddata
data.store.json
sessions/