# Ignore everything in this directory
tmp/*
# Except this file
!tmp/.file

# Dependency directories
.git/
node_modules/
handler.js

# punya orang
plugins/New folder/

# ntar aja bang bagi-bagi pluginnya :v
plugins/anime-anime.js
plugins/anime-chara.js
plugins/anime-kusonime.js
plugins/anime-manga.js
plugins/anime-mynimeku.js
plugins/anime-neko.js
plugins/anime-neonime.js
plugins/anime-randomstory.js
plugins/anime-ransfw.js
plugins/anime-ransfw2.js
plugins/anime-ransfw3.js
plugins/anime-ransfw4.js
plugins/anime-ransfw5.js
plugins/anime-ransfw6.js
plugins/anime-ransfw7.js
plugins/anime-ransfw8.js
plugins/anime-saucenao.js
plugins/anime-wait.js
plugins/anime-wmit.js
plugins/download-cocofun.js
plugins/download-cocofunnowm.js
plugins/download-fb.js
plugins/download-fbhd.js
plugins/download-fblow.js
plugins/download-ig.js
plugins/download-joox.js
plugins/download-joox128.js
plugins/download-joox192.js
plugins/download-joox320.js
plugins/download-likee.js
plugins/download-likeenowm.js
plugins/download-mediafire.js
plugins/download-sfilemobi.js
plugins/download-smule.js
plugins/download-smulemp3.js
plugins/download-smulemp4.js
plugins/download-solidfile.js
plugins/download-soundcloud.js
plugins/download-spotify.js
plugins/download-spotifysearch.js
plugins/download-tiktok.js
plugins/download-tiktokaudio.js
plugins/download-tiktoknowm.js
plugins/download-twitter.js
plugins/download-twitterhd.js
plugins/download-twittermid.js
plugins/download-twittersd.js
plugins/download-yta.js
plugins/download-ytplay.js
plugins/download-yts.js
plugins/download-ytv.js
plugins/download-ytv1080.js
plugins/download-ytv480.js
plugins/download-ytv720.js
plugins/download-zippyshare.js
plugins/editor-1.js
plugins/editor-2.js
plugins/editor-3.js
plugins/editor-passed.js
plugins/editor-trigger.js
plugins/entertain-1cak.js
plugins/entertain-asupan.js
plugins/entertain-cecan.js
plugins/entertain-changemymind.js
plugins/entertain-darkmeme.js
plugins/entertain-lolice.js
plugins/entertain-meme.js
plugins/entertain-randomanimal.js
plugins/entertain-randomanimal2.js
plugins/entertain-randomcar.js
plugins/entertain-randomduck.js
plugins/entertain-ransfw.js
plugins/entertain-spamcall.js
plugins/entertain-speedtest.js
plugins/entertain-zodiak.js
plugins/ephoto-1.js
plugins/ephoto-2.js
plugins/ephoto-3.js
plugins/gi-animal.js
plugins/gi-area.js
plugins/gi-arte.js
plugins/gi-chara.js
plugins/gi-constellation.js
plugins/gi-domain.js
plugins/gi-element.js
plugins/gi-enemy.js
plugins/gi-food.js
plugins/gi-material.js
plugins/gi-namecard.js
plugins/gi-nation.js
plugins/gi-outfit.js
plugins/gi-potion.js
plugins/gi-talent.js
plugins/gi-weapon.js
plugins/info-beasiswa.js
plugins/info-brainly.js
plugins/info-ceknsfw.js
plugins/info-cekusia.js
plugins/info-chord.js
plugins/info-createbarcode.js
plugins/info-createqr.js
plugins/info-cuaca.js
plugins/info-gempa.js
plugins/info-hero.js
plugins/info-heroml.js
plugins/info-hoax.js
plugins/info-imdb.js
plugins/info-jadwalbola.js
plugins/info-jadwaltv.js
plugins/info-jadwaltvnow.js
plugins/info-kodearea.js
plugins/info-kodepos.js
plugins/info-lirik.js
plugins/info-mlstalk.js
plugins/info-nik.js
plugins/info-ocr.js
plugins/info-osu.js
plugins/info-readbarcode.js
plugins/info-readqr.js
plugins/info-ssweb.js
plugins/info-translate.js
plugins/info-wikipedia.js
plugins/nsfw-bigtid.js
plugins/nsfw-blowjob.js
plugins/nsfw-cersex.js
plugins/nsfw-cosplay.js
plugins/nsfw-doujindesu.js
plugins/nsfw-gif.js
plugins/nsfw-loli.js
plugins/nsfw-neko.js
plugins/nsfw-nekopoi.js
plugins/nsfw-nhentai.js
plugins/nsfw-nhentaipdf.js
plugins/nsfw-phub.js
plugins/nsfw-pornhub.js
plugins/nsfw-ran.js
plugins/nsfw-ran2.js
plugins/nsfw-ran3.js
plugins/nsfw-ran4.js
plugins/nsfw-ran5.js
plugins/nsfw-ran6.js
plugins/nsfw-ran7.js
plugins/nsfw-waifu.js
plugins/nsfw-xhamster.js
plugins/nsfw-xnxx.js
plugins/nsfw-xvideos.js
plugins/oxy-1.js
plugins/oxy-2.js
plugins/primbon-jadian.js
plugins/primbon-jodoh.js
plugins/primbon-mimpi.js
plugins/primbon-nama.js
plugins/primbon-tebakumur.js
plugins/primbon-weton.js
plugins/privcmd.js
plugins/random-fakta.js
plugins/random-nama.js
plugins/random-people.js
plugins/random-quote.js
plugins/random-quotedilan.js
plugins/random-quoteimage.js
plugins/random-quotenime.js
plugins/search-apk.js
plugins/search-gimage.js
plugins/search-google.js
plugins/search-happymod.js
plugins/search-konachan.js
plugins/search-pinterest.js
plugins/search-pinterest2.js
plugins/search-pixiv.js
plugins/search-playstore.js
plugins/search-ppcouple.js
plugins/search-stikerbetabotz.js
plugins/search-stikerline.js
plugins/search-stikerlol.js
plugins/search-stikertele.js
plugins/search-stikerwa.js
plugins/search-wallhaven.js
plugins/search-wallpaper.js
plugins/search-wallpaper2.js
plugins/textpro-1.js
plugins/textpro-2.js
plugins/textpro-bpink.js
plugins/textpro-phub.js

# data-single-auth
session.data.json
database.json
package-lock.json

#data-multi-auth
data.store.json
sessions/