# Ignore everything in this directory
tmp/*

# Dependency directories
.git/
node_modules/

# punya orang
plugins/_allbutton.zip

# ntar aja bang bagi/bagi pluginnya :v
lib/scrapepro.js
plugins/ai/
plugins/anime/anime.js
plugins/anime/chara.js
plugins/anime/kitsu.js
plugins/anime/komiku.js
plugins/anime/kusonime.js
plugins/anime/manga.js
plugins/anime/mangatoons.js
plugins/anime/mynimeku.js
plugins/anime/noveltoon.js
plugins/anime/otakudesu.js
plugins/anime/ranlolapi.js
plugins/anime/rannekoslife.js
plugins/anime/ranscrape.js
plugins/anime/ranwaifuim.js
plugins/anime/ranwaifupics.js
plugins/anime/saucenao.js
plugins/anime/wait.js
plugins/anime/webtoon.js
plugins/creator/editor1.js
plugins/creator/editor2.js
plugins/creator/editor3.js
plugins/creator/ephoto1.js
plugins/creator/ephoto2.js
plugins/creator/ktpmaker.js
plugins/creator/oxy2.js
plugins/creator/pasfoto.js
plugins/creator/qc.js
plugins/creator/textpro1.js
plugins/creator/textpro2.js
plugins/download/fb.js
plugins/download/ig.js
plugins/download/joox.js
plugins/download/mediafire.js
plugins/download/pinterest.js
plugins/download/pinterestimage.js
plugins/download/pinterestvideo.js
plugins/download/subscene.js
plugins/download/tiktok.js
plugins/download/tiktokaudio.js
plugins/download/tiktokwm.js
plugins/download/twitter.js
plugins/entertainment/1cak.js
plugins/entertainment/asupan.js
plugins/entertainment/avatar.js
plugins/entertainment/cerpen.js
plugins/entertainment/changemymind.js
plugins/entertainment/darkmeme.js
plugins/entertainment/menfess.js
plugins/entertainment/menfess_ans.js
plugins/entertainment/menfesschat_ans.js
plugins/entertainment/menfesschat_timer.js
plugins/entertainment/openai.js
plugins/entertainment/pickupline.js
plugins/entertainment/quotenime.js
plugins/entertainment/randomanimal.js
plugins/entertainment/randomanimal2.js
plugins/entertainment/ransfw.js
plugins/entertainment/spamcall.js
plugins/entertainment/stalk.js
plugins/entertainment/zodiak.js
plugins/game/sambungkata.js
plugins/game/sambungkata_ans.js
plugins/game/tebakchara.js
plugins/game/tebakchara_ans.js
plugins/game/tebakkabupaten.js
plugins/game/tebakkabupaten_ans.js
plugins/game/tebakkimia.js
plugins/game/tebakkimia_ans.js
plugins/game/tebaklagu.js
plugins/game/tebaklagu_ans.js
plugins/game/tekateki.js
plugins/game/tekateki_ans.js
plugins/gi/arte.js
plugins/gi/chara.js
plugins/gi/constellation.js
plugins/gi/domain.js
plugins/gi/element.js
plugins/gi/enemy.js
plugins/gi/material.js
plugins/gi/talent.js
plugins/gi/weapon.js
plugins/group/muteall.js
plugins/info/beasiswa.js
plugins/info/cekusia.js
plugins/info/createbarcode.js
plugins/info/createqr.js
plugins/info/cuaca.js
plugins/info/fakta.js
plugins/info/gsmarena.js
plugins/info/hero.js
plugins/info/heroml.js
plugins/info/itunes.js
plugins/info/jadwalbola.js
plugins/info/jadwaltv.js
plugins/info/kanji.js
plugins/info/kodearea.js
plugins/info/kodepos.js
plugins/info/lirik.js
plugins/info/nik.js
plugins/info/people.js
plugins/info/readbarcode.js
plugins/info/readqr.js
plugins/info/searchplace.js
plugins/info/steam.js
plugins/info/translate.js
plugins/info/urbandictionary.js
plugins/info/wikipedia.js
plugins/menu/ai.js
plugins/menu/store.js
plugins/nsfw/cersex.js
plugins/nsfw/cosplay.js
plugins/nsfw/doujindesu.js
plugins/nsfw/nekopoi.js
plugins/nsfw/nhentai.js
plugins/nsfw/pornhub.js
plugins/nsfw/ranhmfull.js
plugins/nsfw/ranlolapi.js
plugins/nsfw/ranscathach.js
plugins/nsfw/rantiktokporn.js
plugins/nsfw/ranvhentai.js
plugins/nsfw/ranwaifuim.js
plugins/nsfw/ranwaifupics.js
plugins/nsfw/xhamster.js
plugins/nsfw/xnxx.js
plugins/others/keranggpt.js
plugins/others/primbontebakumur.js
plugins/owner/broadcastptvgc.js
plugins/search/apk.js
plugins/search/bing.js
plugins/search/booru.js
plugins/search/gimage.js
plugins/search/google.js
plugins/search/happymod.js
plugins/search/mirror.js
plugins/search/pinterest.js
plugins/search/pixiv.js
plugins/search/stikerbetabotz.js
plugins/search/stikerline.js
plugins/search/stikertele.js
plugins/search/stikerwa.js
plugins/search/wallhaven.js
plugins/search/wallpaper.js
plugins/search/wattpad.js
plugins/search/wikimedia.js
plugins/store/
plugins/tools/dashboard.js
plugins/tools/ptv.js
plugins/tools/ringtone.js
plugins/tools/savekontak.js

# data-single-auth
session.data.json
database.json
package-lock.json

#data-multi-auth
eng.traineddata
data.store.json
sessions/